h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: initial;
}

header{
    text-align: center;
    background: aquamarine;
    margin: 10px auto;
    border-radius: 0 15px;
    border-color: rgb(61, 160, 163);
    border-style: solid;
    box-shadow: 5px 7px rgb(24, 24, 24);
}

body{
    margin: 0 18%;
    background: linear-gradient(265deg, rgb(41, 62, 156) 29%, rgb(37, 124, 128) 100%);
}

h2{
    padding: 10px;
    background: aquamarine;
    border-radius: 15px 0;
    border-color: rgb(61, 160, 163);
    border-style:solid;
    margin: 0 60% 0 0;
    box-shadow: 5px 7px rgb(24, 24, 24);
}

.desc{
    font-size: 20px;
    margin: 10px 0 10px 25%;
    padding: 10px;
    background: aquamarine;
    border-radius: 15px 0;
    border-color: rgb(61, 160, 163);
    border-style:solid;
    box-shadow: 5px 7px rgb(24, 24, 24);
}

ul li{
    padding: 5px;
    background: linear-gradient(270deg, rgb(62, 137, 177) 0%, aquamarine 100%);
    border-color: rgb(61, 160, 163);
    border-style:solid;
    transition: 500ms;
    box-shadow: 5px 7px rgb(24, 24, 24);
}

li:hover{
    margin: 0 0 0 25px;
}

ul{
    padding: 0px ;
    margin: 10px 0 10px 5%;
}

.contatos{
    text-align: center;
    margin: 0 0 10px;
}

.rede1{
    display: inline-block;
    vertical-align: middle;
    background: rgb(193,34,195);
    background: linear-gradient(0deg, rgba(193,34,195,1) 0%, rgba(253,118,45,1) 100%);
    padding: 10px;
    border-color: rgb(130, 53, 145);
    border-style: solid;
    box-shadow: 5px 7px rgb(24, 24, 24);
}

.rede2{
    display: inline-block;
    vertical-align: middle;
    background: rgb(94, 235, 89);
    padding: 10px;
    border-color: rgb(53, 145, 58);
    border-style: solid;
    box-shadow: 5px 7px rgb(24, 24, 24);
}

.rede3{
    display: inline-block;
    vertical-align: middle;
    background: rgb(82, 73, 255);
    padding: 10px;
    border-color: rgb(35, 18, 142);
    border-style: solid;
    box-shadow: 5px 7px rgb(24, 24, 24);
}

.icon{
    display: inline-block;
    vertical-align: middle;
    float: right;
    background-color: rgb(30, 58, 137);
    border-radius: 15px 0;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    box-shadow: 5px 7px rgb(24, 24, 24);
    transition: 500ms;
}

.icon:hover{
    background-color: rgb(39, 101, 134);
    margin: 0 10px 0 -130px;
    padding: 0 0 0 120px
}

.asterisco{
    width: 44px;
    padding: 4px;
}

.sm{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 12px 0 0 0;
    color:rgba(255, 0, 0, 0);
    transition: 1s;
}

div:hover .sm{
    color: black;
    margin: 0 15px 0 0 ;
}

.saiba{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin: 0 0 0 -500px;
}

.rede1:link, .rede2:link, .rede3:link{
    color: rgb(240, 240, 240)
}

.rede1 a:hover, .rede2 a:hover, .rede3 a:hover{
    color: rgb(36, 0, 153);
    background: rgb(75, 73, 180);
}

.rede1:active, .rede2:active, .rede3:active{
    color: rgb(100, 14, 171);
}

.rede1:visited, .rede2:visited, .rede3:visited{
    color: rgb(171, 14, 61);
}

footer{
    margin: 0 0 10px;
}

footer .frase{
    color: black;
    text-align: center;
    margin: 40px 0 10px;
    font-style: italic;
    transition: 1s;
    font-weight: bold;
}

footer .nome{
    color: rgba(240, 248, 255, 0);
    text-align: right;
    font-size: 15px;
    margin: 0 10px;
    transition: 500ms;
}

footer:hover .frase{
    text-decoration: underline;
    font-size: large ;
}

footer:hover .nome{
    color: black;
    margin: 0 100px;
}